@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --redPV: #ff1100;
    --BluePV: #1F2A37;
    --LightBluePV: #2d3c50;
    --orangePV:rgb(255, 115, 0);

    --textFont: 1.2rem;
    --textTitle: 1.5rem;
    --textBig:2.4rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, 'Montserrat Alternates';
    list-style: none;
    text-decoration: none;
}

body {background-color: #e2e2e2;}

/*Slider*/
.slider {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: auto;
}

.slides img {
    opacity: 1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.slides .slider_tienda img {
    opacity: 1;
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    z-index: 1;
}

.prev {
    left: 0;
    border-radius: 0 50% 50% 0;
}

.next {
    right: 0;
    border-radius: 50% 0 0 50%;
}

#caption {
    overflow: hidden;
    position: absolute;
    background-color: rgba(0, 21, 48, 0.5);
    width: 100%;
    height: 100px;
    bottom: 0;
    transition: height ease .3s;
    border-top: var(--BluePV) solid 10px;
    color: white;
    font-size: 1.9rem;
    text-transform: uppercase;
    font-family: 'Montserrat Alternates';
    padding-left: 25px;
    padding-top: 25px;
    font-weight: 600;
    transition: transform .6s ease;
}

/*Items (Video and productos) section*/
.container {
    border: 3px solid var(--BluePV);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 20px;
    margin: 0% 4% 4%;
}

.conoce {
    margin: 0 auto;
    margin-left: 4%;
    margin-right: 4%;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linea{
    width: 1000px;
    border: 2px solid var(--BluePV);
    transition: .5s;
}

.conoce h1{
    color: var(--BluePV);
    padding-right: 40px;
    color: var(--orangePV);
    font-size: var(--textBig);
}

.item {
    align-items: center;
    border-radius: 5px;
    padding: 30px;
    margin: 10px;
    height: auto;
    width: 23%;
    transition: .5s;
}

.item:hover {
    background-color:#cdcdcd;
}

.item h1 {
    font-family: 'Montserrat Alternates';
    font-size: var(--textTitle);
    text-align: center;
}

.item p {
    text-align: justify;
    font-style: italic;
    font-family: 'Raleway';
    font-size: var(--textFont);
    padding: 3% 6%;
}

.item .price {
    text-align: center;
    font-weight: 700;
    color: var(--orangePV);
    font-style: normal;
    font-size: var(--textFont);
} 

.item iframe, .item img{
    width: 100%;
    height: 70%;
    border: 0;
    border-radius: 0;
    padding-bottom: 40px;
    border-radius: 5px;
}

/*RESPONSIVE*/
@media (max-width: 1650px) {
    .item {
        width: 29%;
        margin: 20px;
    }
    .linea {width: 800px;}
}

@media (max-width: 1350px) {
    :root{
        --textFont: 1.1rem;
        --textBig:2.4rem;
    }
    .linea {width: 510px;}
}

@media (max-width: 1000px) {
    .item {
        width: 42%;
        margin: 20px;
    }

    .linea {
        display: none;
        width: 300px;
    }

    .conoce {
        text-align: center;
        border-radius: 8px;
        margin-top: 24px;
        padding: 20px 0;
        border: solid 3px var(--BluePV);
    }

    .container{margin-top: 4%;}
}

@media (max-width: 650px) {
    :root{
        --textFont: 1rem;
        --textTitle: 1.4rem;
        --textBig:2.1rem;
        transition: all ease .4s;
    }
    
    .item {
        width: 100%;
        margin: 20px;
    }

}