@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, 'Montserrat Alternates';
    list-style: none;
    text-decoration: none;}

:root {
    --redPV: #ff1100;
    --BluePV: #1F2A37;
    --LightBluePV: #2d3c50;

    --fontBig: 4rem;
    --fontSubT: 3rem;
    --fontText: 1.5rem;
    --iconSize: 4rem;
    --timeTransition : 0.5s}

body{background-color: antiquewhite;}

/*Navbar*/

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;  
    display: flex;
    align-items: center;
    justify-content: center; 
    z-index: 1;
    padding: 10px 3%;
    transition: all ease-in-out .8s;
}

#toggle_btn {
    display: none;
    right: 0;
    color: white;
    padding: 40px;
    font-size: 2rem;
    position: fixed;
    z-index: 3;
    transition: all ease .3s;
}

.ltpv {
    display: none;
    position: absolute;
    height: auto;
    width: 60%;
    margin: 0 15%;
    top: 15%;
    transition: all .3s;
}

#menu {
    margin: 4%;
    border-radius: 20px;
    font-size: 1.5rem;
    display: none;
    position: fixed;
    height: 370px;
    width: 80%;
    z-index: 3;
    background-color: var(--LightBluePV);
    opacity: .9;
    transition: all 0.5s;
}

#menu li{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px 0;
}

#menu a {
    font-family: 'Montserrat Alternates';
    text-transform: uppercase;
    font-weight: 700;
    color: lavender;
}


.navbar {
    width: 1800px;
    height: 80px;
    background-color: var(--BluePV);
    border-radius: 0 15px 15px 0;
    overflow: hidden;
    margin: 12px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: .5s;
}

.navbar a {
    text-transform: uppercase;
    font-weight: 400;
    color: white;
    font-size: 1rem;
    padding: 25px 60px;
}

.navbar a:hover:not(.activo) {
    background-color: var(--LightBluePV);
    border-top: var(--BluePV) 10px solid;
    border-bottom: var(--redPV) 10px solid;
    transition: .6s;
}

.activo {
    border-top: var(--BluePV) 10px solid;
    border-bottom: var(--redPV) 10px solid;
}

.navbar a:active{
    background-color: var(--redPV);
    transition: .2s;
}

.logo {
    border-radius: 15px 0 0 15px;
    background-image: url(/img/Logo_LVTP.svg);
    background-color: var(--redPV);
    width: 240px;
    height: 80px;
    background-size: 120px;
    background-position: center;
    background-repeat: no-repeat;
}

.logo:hover {
    background-color: #344760;;
    transition: 0.6s;
}


/*Tarjeta principal*/

#firstcard {
    background-image: url(/img/Playa\ Quesera\ \(Aerea\)_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 1200px;
    display: flex;
    align-items:flex-end;
    justify-content:flex-start;
    padding-bottom: 12%;
    padding-left: 4%;
    transition: var(--timeTransition);
}

.resena {
    position: absolute;
    color: white;
    width: 50%;
    padding: 30px;
    transition: 1s ease-in-out;
}

.resena h1 {
    font-size: var(--fontBig);
    font-family: 'Montserrat Alternates';
    padding-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.resena p {
    font-size: var(--fontText);
}


/*Tarjeta servicios*/

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 700px;
    text-shadow: 0 0 10px black;
    border-top: 10px solid white;
}

.card h1 {
    color: white;
    font-family: Montserrat Alternates;
    font-size: var(--fontSubT);
    padding: .5rem 0;
}

.card p {
    color: white;
    padding: 1em 0;
    font-size: var(--fontText);
    line-height: 2rem;
}

.infoBanner {
    width: 40%;
    padding: 50px;
    padding-right: 3%;
    margin-right: 3%;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, var(--LightBluePV), transparent);
}

#impresos .infoBanner {
    margin-left: 3%;
    padding-left: 3%;
}

.bannerProduct {
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

#camisas .bannerProduct {
    background-image: url(/img/CamisasMU4.jpg);
    mask-image: linear-gradient(to right, black, black, transparent);
}

#impresos .bannerProduct {
    order: 2;
    background-image: url(/img/PostCardsMU.jpg);
    mask-image: linear-gradient(to left, black, black, transparent);
}


.itemVideo {margin-left: 7%;}

iframe {
    border: 30px rgba(255, 255, 255, 0.5) solid;
    border-radius: 20px;
}

#camisas,
#impresos,  
#audiovisuales {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


#camisas {
    background-image: url(/img/Playa\ Arrecife.jpg);
    text-align: right;
}

#impresos {
    background: url(/img/Atadecer\ con\ flores\ amarillas.jpg);
    background-size: cover;
}

#audiovisuales {
    background-image: url(/img/Playa\ Quesera\ 2.jpg);
    text-align: right;
}

.card button {
    font-size: 1rem;
    font-weight: 800;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: white 2px solid;
    padding: 13px 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 10px;
}

.card button:hover {
    border: var(--LightBluePV) 2px solid;
    background-color: white;
    color: var(--BluePV);
    transform: translateY(-5px);
    transition: 0.3s;
    box-shadow: 0 13px 15px rgba(0, 0, 0, 0.5);
}

/*Contacto*/
.contact{
    border-top: white solid 20px;
    background-image: url(/img/Asset\ 2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: var(--timeTransition);
}

.socialMediaIcons ul {
    display: flex;
    text-align: center;
}

.socialMediaTitle h1 {
    font-size: var(--fontSubT);
    text-align: center;
    margin-bottom: 30px;
    transition: var(--timeTransition);
}

.socialMediaIcons ul li {
    font-size: var(--iconSize);
    padding: 20px 40px;
    transition: var(--timeTransition);
}

.socialMediaIcons a {color: white;}

.socialMediaIcons a:hover {
    transition: .6s;
    transform: translateY(-15px);
    color: var(--redPV);
}

.services ul {
    display: flex;
    align-items: center;
    text-align: center;
    transition: var(--timeTransition);
    
}

.services ul li {
    padding: 20px 30px;
    color: white;
    font-size: 2rem;
}

.services ul i {font-size: var(--fontBig);}

.services ul li p{
    padding: 20px 30px;
    transition: var(--timeTransition);
}


.services ul i:hover {
    transform: translateY(-5px);
    color: var(--redPV);
    transition: .3s;
}

/*Footer*/

footer {
    color: white;
    background-color: #1f2a37;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .footerInfo {
    font-size: .8rem;
    padding: 20px;
}

/*Responsive*/
@media (max-width: 1600px) {
    .services ul i {font-size: 2rem;}

    .services ul li p{
        padding: 20px 5px;
        font-size: 1.4rem;
    }

    .socialMediaIcons ul li {
        font-size: 2rem;
        padding: 20px 10px;
    }

    .socialMediaTitle h1 {
        font-size: 2rem;
    }
    
}

@media (max-width: 1350px) {
    .logo {
        background-image: url(/img/Asset\ 20.svg);
        background-size: 55px;
    }

    #firstcard {height: 1000px;}

    :root {
        --fontBig: 3rem;
        --fontSubT: 2rem;
        --fontText: 1rem;
        --iconSize: 3rem;
    }

    .card p {line-height: 1.3rem;}
}

@media (max-width: 1030px) {
    
    header {
        display: none;
        transition: var(--timeTransition);
    }

    .card {border: 0;}
    .ltpv {display: block;}

    #toggle_btn {
        position: fixed;
        display: flex;
        z-index: 2;
        justify-content: end;
    }

    #firstcard {height: 1200px;}

    .contact {flex-direction: column;}

    .socialMediaIcons ul li {
        font-size: 3rem;
        padding: 20px 50px;
    }

    .services ul li p{
        padding: 20px 5px;
        font-size: 1.2rem;
        color:rgb(155, 198, 255);
    }

}
   
@media (max-width: 900px) {
    .card {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        height: 400px;
        text-align: center;
    }

    .bannerProduct, .itemVideo {display: none;}

    .infoBanner {
        width: 90%;
        padding: 0 4%;
    }

    #impresos .infoBanner,
    #camisas .infoBanner,
    #audiovisual, .infoBanner {
        margin: 0;
        padding: 5% 4%;
        text-align: center;
    }

    @media (max-width: 600px) {
        #firstcard {height: 1000px;}
    
        :root {
            --fontBig: 2rem;
            --fontSubT: 1.5rem;
            --fontText: 1rem;
            --iconSize: 2rem;
        }
    
        .card p {line-height: 1rem;}

        .socialMediaIcons ul li {
            font-size: 1.9rem;
            padding: 20px 10px;
        }

        .services i {padding: 0 3%;}
    
        .services ul li p{
            padding: 10px 0;
            font-size: 0.8rem;
            color:rgb(155, 198, 255);
        }
    }
}